body {
    background-color: #f8f9fa;
}

.navbar-custom {
    background-color: #000000;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255, 255, 255, .8);
}


/*cambiamo il colore al link della navbar */

.navbar-custom .navbar-nav .nav-link {
    color: #ffffff
}

.btn-outline-primary {
    color: white;
    background-color: #000000;
    border-color: #ffffff;
}

.btn-outline-primary:hover {
    color: #ffffff;
    background-color: rgb(74, 175, 79);
    border-color: rgb(74, 175, 79);
}

.dropdown-menu {
    background-color: #000000;
}

.dropdown-item {
    color: #ffffff;
}

a.dropdown-item:active {
    background-color: rgb(74, 175, 79);
}

.carta {
    width: 455px;
}

.cc {
    width: auto;
}