<!DOCTYPE html>
<html lang="it"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Holiday - Pagamento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../../view/css/Pagamento.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src = "../../view/js/richiedi.js"></script>
    <script src = "../../view/js/navigationbar.js"></script>
    <script src = "../../view/js/prenotazione.js"></script>
    <script src = "../../view/js/logout.js"></script>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="../../view/Index.html">Holiday</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a id="ns" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestione
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a id="prof" class="dropdown-item" href="../../view/GestioneProfilo.html">Gestione Profilo</a>
                        <div class="dropdown-divider"></div>
                        <a id = "pren" class="dropdown-item" href="../../view/GestionePrenotazioni.html">Gestione Prenotazioni</a>
                        <div class="dropdown-divider"></div>
                        <a id="gestann" class="dropdown-item" href="../../view/GestioneAnnunci.html">Gestione Annunci</a>
                        <div class="dropdown-divider"></div>
                        <a id="gestall" class="dropdown-item" href="../../view/GestioneAlloggi.html">Gestione Alloggi</a>
                    </div>
                    <li class="nav-item">
                        <a id="comquest" class="nav-link" href="../../view/ComunicazioneQuestura.html">Comunicazione Questura</a>
                    </li>
                    <li class="nav-item">
                        <a id="rend" class="nav-link" href="../../view/Rendicontazione.html">Rendicontazione</a>
                    </li>

            </ul>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onClick="clickLogout()">Logout</button>
        </div>
    </nav>
    <!-- FINE NAVBAR -->

    <br>
    <div class="col-md-8 offset-md-2 order-md-1">
        <div class="card">
            <div class="card-body">
                <h3 class="mb-3">I tuoi dati</h3>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nomereg" placeholder="Inserisci nome" value="" required disabled>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cognome">Cognome</label>
                        <input type="text" class="form-control" id="cognomereg" placeholder="Inserisci cognome" value="" required disabled>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="emailreg" required disabled>
                </div>

                <div class="mb-3">
                    <label for="data">Data di nascita</label>
                    <input type="date" class="form-control" id="datareg" required disabled>
                </div>

                <div class="mb-3">
                    <label for="ldn">Luogo di nascita</label>
                    <input type="text" class="form-control" id="ldnreg" placeholder="Inserisci luogo di nascita" required disabled>
                </div>

                <div class="mb-3">
                    <label for="residenza">Luogo di residenza</label>
                    <input type="text" class="form-control" id="residenzareg" placeholder="Inserisci luogo di residenza" required disabled>
                </div>

                <div class="mb-3">
                    <label for="indirizzo">Indirizzo</label>
                    <input type="text" class="form-control" id="indirizzoreg" placeholder="Inserisci indirizzo di residenza" required disabled>
                </div>

                <div class="mb-3">
                    <label for="cellulare">Cellulare</label>
                    <input type="text" class="form-control" id="cellularereg" placeholder="Inserisci cellulare" required disabled>
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="categoria">Categoria</label>
                        <select class="custom-select d-block w-100" id="categoria0" required>
                            <option value="impiegato">Impiegato</option>
                            <option value="disoccupato">Disoccupato</option>
                            <option value="studente">Studente</option>
                            <option value="liberoprof">Libero professionista</option>
                            <option value="forzaord">Forza dell'ordine</option>
                            <option value="accompagnatoretur">Accompagnatore turistico</option>
                            <option value="autista">Autista di autobus</option>              
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="formOspiti"></div>

    <!-- INSERIMENTO DATI CARTA -->
    <br>
    <div class="container-fluid" style="width:100%;">
        <div class="row justify-content-center">
            <div class="col-md-4 order-md-1">
                <div class="cc card">
                    <div class="card-body">
                        <h3 class="mb-3">Dati carta</h3>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="nome">Nome intestatario</label>
                                <input type="text" class="form-control" id="1" placeholder="Inserisci nome intestatario" value="" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="numero">Numero carta</label>
                                <input type="text" class="form-control" id="2" placeholder="Inserisci numero carta" value="" pattern="[0-9]{4} [0-9]{4} [0-9]{4} [0-9]{4}" required>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="data">Data di scadenza</label>
                            <input type="scadenza" class="form-control" id="3" placeholder="MM/YYYY" required pattern="1[0-2]/[0-9]{4}|0[1-9]/[0-9]{4}">
                        </div>


                        <div class="mb-3">
                            <label for="cvv">CVV</label>
                            <input type="text" class="form-control" id="4" placeholder="Inserisci CVV" pattern="[0-9]{3}" required>
                            <br>
                            <button type="button" class="btn btn-success float-right" onClick='clickEffettuaPagamento()'>Effettua pagamento</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FINE INSERIMENTO DATI CARTA -->

            <!-- RIEPILOGO TASSE -->
            <br>
            <div class="carta card">
                <div class="card-body">
                    <h3 class="mb-3">Riepilogo tasse</h3>
                    <h4>Tasse di soggiorno:</h4>
                    <ul id="tasse"></ul>
                    <hr class="mb-9">
                    <h4 id="totale"></h4>
                    <hr>
                    <button type="button" class="btn btn-success float-right" onClick='clickCalcolaTasse()'>Calcola tasse</button>
                </div>
            </div>
        </div>
    </div>
    <!-- FINE RIEPILOGO TASSE -->
    <script>
        window.onload=aggiorna();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>